$color-blue-main: #4D82A3;
$color-blue-bg: #A5D7E9;
$color-blue-light: #CEE5ED;
$color-blue-gray: #90B5C9;

$color-gray-light: #F1F1F1;
$color-white-main: #FFF;
$color-orange-contrast: #F9B212;
$color-black-text: #282727;


$fw-1: 400;
$fw-2: 500;
$fw-3: 700;

$lh-1: 1%;
$lh-2: 1.2%;
$lh-3: 1.5%;
$lh-4: 2%;

$fs-1: 0.875rem;
$fs-2: 1rem;
$fs-3: 1.125rem;
$fs-3: 1.625rem;
$fs-3: 1.75rem;
$fs-3: 2.125rem;
$fs-3: 2.5rem;

